@font-face
{
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;

    src: local('PT Sans'), local('PTSans-Regular'), url('ptsans.woff2') format('woff2'), url('ptsans.woff') format('woff'), url('ptsans.ttf') format('truetype');
}
@font-face
{
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;

    src: local('PT Sans Bold'), local('PTSans-Bold'), url('ptsansbold.woff2') format('woff2'), url('ptsansbold.woff') format('woff'), url('ptsansbold.ttf') format('truetype');
}
