@font-face
{
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;

    src: local('PT Sans'), local('PTSans-Regular'), url('ptsans.woff2') format('woff2'), url('ptsans.woff') format('woff'), url('ptsans.ttf') format('truetype');
}

@font-face
{
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;

    src: local('PT Sans Bold'), local('PTSans-Bold'), url('ptsansbold.woff2') format('woff2'), url('ptsansbold.woff') format('woff'), url('ptsansbold.ttf') format('truetype');
}

@font-face
{
    font-family: 'symbols-sedona';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/symbols-sedona.woff') format('woff'), url('../fonts/symbols-sedona.woff2') format('woff2');
}
*
{
    outline: 1px solid black;
}

html,
body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin: 0;

    text-transform: uppercase;
}

.container
{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0 0 15px 2px #ccc;
}

.page-header
{
    position: relative;
}

.page-header__logo
{
    position: absolute;
    z-index: 2;
    left: 50%;

    transform: translateX(-50%);
}

.main-navigation__list
{
    display: flex;

    margin: 0;
    padding: 0 6%;

    flex-wrap: nowrap;
    justify-content: space-between;
}

.main-navigation__item
{
    font-size: 14px;

    width: 20%;
    padding: 15px 0;

    list-style: none;

    text-align: left;
}
.main-navigation__item:nth-child(2)
{
    margin-right: 20%;
    padding-left: 60px;
}
.main-navigation__item:nth-child(3)
{
    padding-right: 64px;
}
.main-navigation__item:nth-child(3),
.main-navigation__item:nth-child(4)
{
    text-align: right;
}

.main-navigation__item a
{
    text-decoration: none;

    color: #000;
}

.main-navigation__item a:hover
{
    color: #81b3d2;
}

.main-navigation__item a:active
{
    color: rgba(0, 0, 0, .3);
}
.main-navigation__item--active a
{
    color: #766357;
}
.main-navigation__item--active a:hover
{
    color: #604e43;
}
.main-navigation__item--active a:active
{
    color: rgba(118,99,87,.3);
}
.hotels-features
{
    padding: 0 6%;

    color: #fff;
    background: url('../img/bg-hotels.jpg') no-repeat;
}

.hotels-filters
{
    display: flex;

    padding-bottom: 21px;

    align-items: center;
    justify-content: space-around;
}

.filters
{
    display: flex;

    flex-basis: 66.7%;
}

.filter
{
    margin: 0;
    padding: 0;

    border: 0;
}

.filter:last-child
{
    margin-left: 119px;
}

.filter__checklist
{
    margin: 0;
    padding: 0;
}

.filter__title
{
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 0;
}

.filter__checklist li
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    position: relative;

    padding: 14px 0;

    list-style: none;
}

.filter__checklist li:not(:first-child)
{
    margin-left: 39px;
}

input[name$='check']
{
    display: none;
}
input[type=checkbox]:disabled + label::before
{
    color: #6a6a6a;
}
input[type=checkbox] + label::before
{
    font-family: 'symbols-sedona';
    font-size: 26px;
    line-height: 20px;

    position: absolute;
    top: 13px;
    left: -39px;

    content: '\2610';
    cursor: pointer;
}

input[type=checkbox]:checked + label::before
{
    content: '\2611';
}

.filter__range
{
    width: 330px;

    text-align: center;
}

.filter__range-title
{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin-bottom: 10px;

    text-align: left;
}

.controls__price
{
    font-size: 0;

    position: relative;

    min-height: 36px;

    border: 2px solid #fff;
    border-radius: 2px;
}
.controls__price::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    transform: translate(-50%, -50%);

    background: #fff;
}
.controls__price label
{
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}
.control__price--min,
.control__price--max
{
    font-weight: 400;

    width: 120px;
    padding-left: 30px;
}
.controls__price input
{
    font: inherit;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    outline: none;
    background: none;
}
.range__controls
{
    position: relative;

    margin-top: 20px;
}

.range__controls::before,
.range__controls::after
{
    position: absolute;
    left: 23px;

    min-height: 2px;

    content: '';

    background-color: #fff;
}

.range__controls::before
{
    right: 2px;

    max-width: 307px;

    opacity: .3;
}

.range__controls::after
{
    right: 60px;

    max-width: 248px;
}

.range__toggle
{
    position: absolute;
    top: -9px;

    padding: 2px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
}
.range__toggle:hover
{
    background-color: #1c4f80;
}
.range__toggle--min
{
    left: 11px;
}

.range__toggle--max
{
    right: 46px;
}

.btn-transparent
{
    font-size: 14px;
    line-height: 26px;

    width: 133px;
    margin-top: 35px;
    margin-left: 1px;
    padding: 3px 0;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
}

.btn-transparent:hover
{
    color: #000;
    background-color: #fff;
}

.hotels
{
    display: flex;
    flex-direction: column;
}

.sorting
{
    display: flex;

    padding: 9px 6% 14px;

    border-bottom: 1px solid #e5e5e5;

    justify-content: space-between;
}

.sorting__block
{
    display: flex;
}

.sorting__title
{
    font-size: 21px;
    line-height: 26px;

    width: 135px;
    margin-top: 17px;
}

.sorting__list
{
    display: flex;

    padding-left: 26px;
}

.sorting__list li
{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    width: 110px;

    list-style: none;
}
.sorting__item--active
{
    color: #81b3d2;
}
.sorting__item:not(:nth-child(1)):not(:nth-child(2)) a
{
    border-bottom: 1px dashed #81b3d2;
}
.sorting__item
{
    font-size: 12px;
    line-height: 18px;

    width: 110px;
}
.sorting__list li:not(:nth-child(1)):not(:nth-child(2))
{
    color: rgba(0,0,0,.3);
}
.sorting__list li:hover:not(:nth-child(1)):not(:nth-child(2))
{
    color: #81b3d2;
}
.sorting__list li:active:not(:nth-child(1)):not(:nth-child(2))
{
    color: #000;
}
.arrows
{
    margin-top: 20px;
}

.arrow__item
{
    margin-right: -14px;

    color: #ccc;
}

.arrow__item--up::before,
.arrow__item--down::before
{
    font-family: 'symbols-sedona';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
    margin-left: .2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
}

.arrow__item--up::before
{
    content: '\25b2';
}
.arrow__item--up:hover::before
{
    color: #000;
}
.arrow__item--up:active::before
{
    color: #81b3d2;
}
.arrow__item--down::before
{
    content: '\25bc';

    color: #81b3d2;
}

.hotels__list
{
    display: flex;
    flex-direction: column;
}

.hotel__item
{
    display: flex;

    padding: 30px 6%;

    border-bottom: 1px solid #e5e5e5;

    align-items: flex-start;
}

.hotel__item-description
{
    width: 75%;
    padding-left: 30px;
}

.hotel__item-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 0;

    color: #000;
}

.hotel__item-title:hover
{
    color: #81b3d2;
}

.hotel__item-title:active
{
    color: rgba(0, 0, 0, .3);
}

.hotel__item-type
{
    display: inline-block;

    width: 93px;
    margin-right: 25px;
}

.hotel__item-name,
.hotel__item-cost
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.hotel__item-name
{
    margin: 7px 0 14px;
}

.btn
{
    font-weight: 700;

    display: inline-block;

    width: 100%;

    cursor: pointer;

    color: #fff;
    border: 0;
}

.btn__more
{
    background-color: #81b3d2;
}

.btn__more:hover
{
    background-color: #669ec0;
}

.btn__more:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #5496bd;
}

.btn__more,
.btn__reservation
{
    font-size: 14px;
    line-height: 21px;

    padding: 3px 11px 3px 11px;

    text-align: center;
}

.btn__reservation
{
    background-color: #766357;
}

.btn__reservation:hover
{
    background-color: #604e43;
}

.btn__reservation:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.hotel__item-reservation
{
    display: inline-block;
}

.hotel__item-cost
{
    margin: 7px 0 14px;
}

.hotel-stars
{
    position: relative;
}

.hotel-stars__list
{
    position: relative;

    display: flex;

    white-space: nowrap;

    flex-wrap: wrap;
    justify-content: flex-end;
}

.hotel-star__item
{
    width: 19px;
    min-height: 27px;
    margin-right: 6px;
    margin-bottom: 27px;
}

.hotel-star__item::before
{
    font-family: 'symbols-sedona';
    font-size: 21px;
    line-height: 21px;

    content: '\2605';

    color: #81b3d2;
}

.hotel__rating-name
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin-bottom: 0;
    padding: 4px 15px;

    background-color: #f2f2f2;
}

.content-pictures
{
    position: relative;

    width: 100%;
    margin-bottom: 60px;
    padding-top: 78px;

    text-align: center;

    background: url('../img/bg-picture-halls.jpg') no-repeat;
    background-size: 100% 100%;
}

.content-pictures img
{
    margin-bottom: 140px;

    align-self: center;
}

.content-pictures::after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100%;
    min-height: 57px;

    content: '';
    transform: translateX(-50%);

    background: url('../img/decoration-element.png') no-repeat;
    background-size: 100% 57px;
}

.page-description
{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.page-description__title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;
}

.page-description__reason
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    margin-bottom: 60px;

    text-align: center;
}

.advantages
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.advantage__list
{
    display: flex;

    width: 100%;
}

.advantage__item
{
    font-size: 14px;
    font-weight: 400;

    width: 33.33%;

    text-align: center;

    color: #fff;
    background-color: #81b3d2;
}

.advantage__name
{
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    color: #fff;
}

.advantage__description
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: #fff;
}

.advantage__picture
{
    position: relative;

    display: flex;
    overflow: hidden;

    width: 66.66%;
    min-height: 256px;
}

.advantage__picture img
{
    position: absolute;
    top: 50%;

    width: 100%;
    height: auto;

    transform: translateY(-50%);
}

.features
{
    display: flex;

    width: 100%;

    background-color: #fff;
}

.feature__icon
{
    min-height: 83px;
    margin-top: 60px;
}

.feature__icon img
{
    text-align: —Åcenter;
}

.feature__item
{
    width: 33.33%;

    text-align: center;
}

.feature__description
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin-bottom: 60px;

    color: #333;
}

.other-advantages
{
    display: flex;

    width: 100%;

    text-align: center;

    color: #000;
    background-color: #eee;
}

.other-advantages .advantage__item
{
    font-size: 14px;
    font-weight: 400;

    margin-top: 48px;

    color: #333;
    background-color: #eee;
}

.other-advantages .advantage__name
{
    text-align: center;

    color: #000;
}

.other-advantages .advantage__description
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: #333;
}

.promo
{
    position: relative;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.promo__description
{
    font-size: 14px;
    font-weight: 400;

    color: #333;
}

.search-hotels
{
    position: absolute;
    z-index: 2;
    top: 240px;
    left: 50%;

    display: block;

    box-sizing: border-box;
    width: 574px;
    padding: 55px;

    transform: translateX(-50%);
    animation: slideInDown .6s;

    background-color: #fff;
}

.search-hotels__hidden
{
    display: none;
}

.quantity__human,
.quantity__children,
.date__entrance,
.date__departure,
.quantity-people
{
    margin: 0;
    padding: 0;

    border: 0;
}

.date__entrance,
.date__departure,
.quantity-people
{
    font-size: 0;
    font-weight: 700;
    line-height: 26px;

    position: relative;

    display: inline-block;

    margin-bottom: 30px;

    text-align: left;
}

.quantity-people
{
    margin-bottom: 54px;
}

.quantity__human,
.quantity__children
{
    display: inline-block;
}

.date__entrance label,
.date__departure label,
.quantity__human label
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    width: 113px;
}

.quantity__children label
{
    font-size: 14px;

    display: inline-block;

    width: 65px;
    margin-left: 52px;
}

.date__entrance input,
.date__departure input,
.quantity__human input,
.quantity__children input
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 345px;
    padding: 5px 12px;

    border: none;
    background-color: #f2f2f2;
}
.date__entrance input[type='text']::-webkit-input-placeholder,
.date__departure input[type='text']::-webkit-input-placeholder
{
    opacity: 1;
    color: black;
}

.date__entrance input[type='text']:hover,
.date__departure input[type='text']:hover
{
    background-color: #ebebeb;
}

.date__entrance input[type='text']:focus,
.date__departure input[type='text']:focus
{
    background-color: #fff;
}

.quantity__human input,
.quantity__children input
{
    width: 38px;
    padding: 6px 12px;

    text-align: center;
}

.quantity__human--decrease,
.quantity__human--increase,
.quantity__children--decrease,
.quantity__children--increase
{
    font-size: 14px;

    width: 38px;
    padding: 6px 5px;

    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.quantity__human--decrease::before,
.quantity__children--decrease::before,
.quantity__human--increase::before,
.quantity__children--increase::before
{
    font-family: 'symbols-sedona';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
    margin-left: .2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
}

.quantity__human--decrease::before,
.quantity__children--decrease::before
{
    content: '\e802';
}

.quantity__human--increase::before,
.quantity__children--increase::before
{
    content: '\e801';
}

.quantity__human--decrease:hover::before,
.quantity__children--decrease:hover::before,
.quantity__human--increase:hover::before,
.quantity__children--increase:hover::before
{
    color: #000;
}

.quantity__human--decrease:active::before,
.quantity__children--decrease:active::before,
.quantity__human--increase:active::before,
.quantity__children--increase:active::before
{
    color: #81b3d2;
}

.promo__search
{
    font-size: 21px;

    box-sizing: border-box;
    width: 575px;
    min-height: 85px;

    text-transform: uppercase;

    color: #fff;
    background-color: #766357;

    align-self: center;
}

.search-hotels__find
{
    width: 460px;
    min-height: 58px;

    text-transform: uppercase;

    color: #fff;
    background-color: #81b3d2;
}

.search-hotels__find:hover
{
    background-color: #669ec0;
}

.search-hotels__find:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #5496bd;
}

.map
{
    display: flex;

    width: 100%;
    min-height: 472px;

    background: url('../img/bg-map.jpg') no-repeat;
    background-position: center;
}

.page-footer
{
    position: relative;

    display: flex;

    width: 100%;
    padding: 33px 0 35px;

    text-align: center;

    justify-content: space-around;
}

.page-footer__hashtag
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-top: auto;
    margin-bottom: auto;

    flex-basis: 33.33%;
    align-self: center;
}

.page-footer__social
{
    position: relative;

    flex-basis: 33.33%;
    align-self: center;
}

.social__link
{
    font-size: 19px;
    line-height: 20px;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 45px;
    margin: 1px;
    padding: 13px 0;

    vertical-align: middle;
    text-indent: -100%;

    color: rgba(255,255,255,1);
    background-color: #81b3d2;
}

.social__link:hover
{
    background-color: #669ec0;
}

.social__link:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #5496bd;
}

.social__link--tw::before,
.social__link--fb::before,
.social__link--youtube:before
{
    font-family: 'symbols-sedona';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;

    position: absolute;
    z-index: 1;
    left: 40%;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
    margin-left: .2em;

    transform: translateX(-50%);
    text-align: center;
    text-decoration: inherit;
    text-indent: 0;
    text-transform: none;

    speak: none;
}

.social__link--tw::before
{
    content: '\74';
}

.social__link--fb::before
{
    content: '\66';
}

.social__link--youtube::before
{
    content: '\f39e';
}

.page-footer__copyright
{
    display: flex;

    flex-basis: 33.3%;
    justify-content: center;
}

.page-footer__developed
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    display: inline-block;

    margin-right: 10px;

    align-self: center;
}

.page-footer__copyright-link
{
    display: inline-block;

    width: 113px;
    height: 39px;

    background: url('../img/logo-ha.png') no-repeat;

    align-self: center;
}
.page-footer__copyright-link:hover
{
    background: url('../img/logo-ha-hover.png') no-repeat;
}
.page-footer__copyright-link:active
{
    background: url('../img/logo-ha-active.png') no-repeat;
}
@keyframes slideInDown
{
    from
    {
        visibility: visible;

        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
    }
    to
    {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                transform: translateX(-50%);
    }
}
